<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</head>
<body>
    <div class="row">
        <div class="col-lg-12" style="margin-left: 20px; margin-right: 20px;">
            <h1 align="center" ><%= title %></h1>
        <div id="returnAllData" style="overflow-x:auto;">
            <table class="table table-striped" >
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td>Total Price</td>
                </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= data[i].id %></td>
                            <td><%= data[i].firstname + " " + data[i].lastname %></td>
                            <td><%= data[i].email %></td>
                            <td><%= data[i].item %></td>
                            <td><%= data[i].quantity %></td>
                            <td><%= data[i].total_price %></td>
                        </tr>
                    <% } %>
                </tbody>
                <tfoot>
                <tr>
                    <td>ID</td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td>Total Price</td>
                </tr>
                </tfoot>
            </table>
            <button class="btn btn-warning" style="float: left;"  onclick="pivot()">Pivot</button>
            <button class="btn btn-primary" style="float: right;"  onclick="ganerateForm()">Generate</button>
        </div>
        </div>
</div>
<div class="col-lg-2"></div>

</body>
</html>


<script type='text/javascript'>
    $(document).ready(function () {
        submitData()
    })

    function pivot() {
        $.ajax({
            type: 'GET',
            url: '/pivot',
            success: function (data) {
                console.log(data)
                var createTdHead = '';
                var createTdFoot = '';
                var createTdBody = '';

                createTdHead += "<tr>"
                createTdFoot += "<tr>"
                $.each(data.data.header, function (key, val) {
                    createTdHead += '<td>' + val + '</td>'
                    createTdFoot += '<td>' + val + '</td>'
                })
                createTdHead += "</tr>"
                createTdFoot += "</tr>"

                for (var i = 0; i < data.data.result.length; i++) {
                    createTdBody += '<tr>'
                    createTdBody += '<td>' + data.data.result[i].fullname + '</td>'
                    createTdBody += '<td>' + data.data.result[i].email + '</td>'
                    for (var k = 0; k < data.data.result[i].items.length; k++) {
                        createTdBody += '<td>' + data.data.result[i].items[k].value + '</td>'
                    }
                    createTdBody += '</tr>'
                }

                $("#returnAllData").html('')
                $("#returnAllData").append('<table class="table table-striped" >' +
                    createTdHead +
                    createTdBody +
                    createTdFoot +
                    '</table>' +
                    '<button class="btn btn-warning" onclick="window.location.reload(true)">Home</button>')

            }, error: function (data) {
                console.log(data)
                swal("Error", data, "error");
            }
        })
    }

    function ganerateForm() {
        $.ajax({
            type: 'GET',
            url: '/generate',
            success: function (data) {
                console.log(data)
                $("input[name=form_first_name]").val(data.data.firstname);
                $("input[name=form_last_name]").val(data.data.lastname);
                $("input[name=form_email]").val(data.data.email);
                $("select[name=form_item]").val(data.data.item);
                $("input[name=form_quantity]").val(data.data.quantity);
                $("input[name=form_total]").val(data.data.total_price);
                $(location).attr('href', "/");
            }, error: function (data) {
                console.log(data)
                swal("Error", data , "error");
            }
        })
    }
</script>